body {
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

main {
    margin-bottom: 8em;
}

#cabecalho {
    padding-top: 15px;
    padding-bottom: 15px;
    
    text-align: center;
    font-size: 35pt;
    color: white;
    background-color: black;
}

#navegacao {
    background-color: #696969;
    text-align: center;
    padding-top: 20px;
    font-size: 13pt;
    height: 40px;
    margin: 0;
}

.credenciais:focus {
    box-shadow: 0 0 10px #ff007f;
}

.credenciais {
    width: 500px;
}

#principal {
    border-radius: 10px; 
    background-color: white;
    border: 1px double black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 160px;
    width: 500px;
    left: 50%;
    /*add para deixar a o bloco no centro*/
}

#rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #808080;
}

#rodape div {
    padding: 10px;
}

#rodape h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

#rodape p {
    margin-bottom: 0;
}


#btn_login {
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1.5px double black;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
    left: 340px;
}