body {
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    font-size: 0.9em;
}

main {
    padding-bottom: 10em;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

#cabecalho {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 35pt;
    color: white;
    background-color: black;
}

#navegacao {
    background-color: #696969;
    text-align: center;
    padding: 13px;
    font-size: 13pt;
}

a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

#rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #808080;
}

#rodape div {
    padding: 10px;
}

#rodape h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

#rodape p {
    margin-bottom: 0;
}

.photo {
    border-radius: 10px; 
}

.title {
    text-align: center;
}

#figures {
    background-color: #c0c0c0;
    color: #808080;
    border: 1px double #353839;
    margin: auto;
    width: 500px;
}

td {
    padding: 10px;
}

#btn_login {
    cursor: pointer;
    background-color: #dcdcdc;
    font-size: 0.3em;
    width: 60px;
    height: 40px;
    border: 1.5px double black;
    border-radius: 10px;
}